<div cdkDropListGroup>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  @for (catg of menu; track catg; let idx = $index) {
    <div class="example-box" cdkDrag>
      {{catg.Category}}

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop2($event, idx)">
        @for (Items of catg.Items; track Items) {
          <div class="example-box" cdkDrag>
            {{Items}}
          </div>
        }
      </div>


    </div>

  }
</div>
</div>


<!-- <router-outlet /> -->
