@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  padding: 15px;
}

.topnavi {
  display: flex;
  margin: 15px 0;
}
.topnavi * {
  align-self: center;
  margin: 0 !important;
}
.phoneimg {
  text-align: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
