@import '~@angular/material/theming';

// Define your custom theme
$my-primary: mat-palette($mat-indigo);
$my-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme: mat-light-theme($my-primary, $my-accent);

// Include Angular Material's pre-built themes
@include angular-material-theme($my-theme);