<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

  <mat-tab label="Overview">

    <cdk-accordion class="catg-accordion" multi="true">

      <div cdkDropList class="category-wrap" (cdkDropListDropped)="drop($event)">
        @for (catg of menu; track catg; let idx = $index) {
        <cdk-accordion-item cdkDrag #accordionItem="cdkAccordionItem" class="catg-accordion-item" role="button"
          tabindex="0" [expanded]="true" [attr.id]="'accordion-header-' + idx"
          [attr.aria-controls]="'accordion-body-' + idx">
          <div class="catg-accordion-item-header" (click)="accordionItem.toggle()">
            <div class="category-head">
              <img src="assets/icons/move_items.svg">
              {{catg.Category}}
              <img src="assets/icons/{{ accordionItem.expanded ? 'tab_arrow_close' : 'tab_arrow_open' }}.svg">
            </div>
            <div class="list_action">
              <img src="assets/icons/edit.svg">
              <img src="assets/icons/trash.svg">
            </div>
          </div>
          <div class="catg-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + idx" [attr.aria-labelledby]="'accordion-header-' + idx">

              <div cdkDropList class="items-wrap" (cdkDropListDropped)="drop2($event, idx)">
                @for (Items of catg.Items; track Items) {
                <div class="items-list" cdkDrag>
                  <div class="items-head">
                    <img src="assets/icons/move_items.svg">
                    {{Items}}
                  </div>
                  <div class="list_action">
                    <img src="assets/icons/edit.svg">
                    <img src="assets/icons/trash.svg">
                  </div>
                </div>
                }
              </div>
              <div class="category-bottom">
                <button mat-flat-button color="primary">Add item</button>
              </div>
            
          </div>
        </cdk-accordion-item>


        }
      </div>
    </cdk-accordion>
  </mat-tab>
  <mat-tab label="Settings"> Settings </mat-tab>
</mat-tab-group>