<div id="zpopup_main" class="zpopup  {{cclass}}">
    <div id="zpopup_addnew" class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add new</h3>
            <a class="icon" mat-dialog-close><img src="assets/icons/close.svg"></a>
        </div>
        <div class="zpopup-body">
            <div id="addbtns">
                <label class="radio-container">
                    <input id="addbtns1" type="radio" name="radio" [(ngModel)]="addbtns" value="add_category">
                    <p class="checkmark">
                        <img src="assets/icons/AddCategory.svg">
                        <span>Add category</span>
                    </p>
                </label>
                <label class="radio-container">
                    <input id="addbtns2" type="radio" name="radio" [(ngModel)]="addbtns" value="add_item">
                    <p class="checkmark">
                        <img src="assets/icons/AddItem.svg">
                        <span>Add item</span>
                    </p>
                </label>
            </div>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary" (click)="cclass=addbtns">Next</button>
        </div>
    </div>

    <div id="zpopup_additem" class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add item</h3>
            <a class="icon"><img (click)="cclass='selecteditem'" src="assets/icons/arrow-left.svg"></a>
        </div>
        <div class="zpopup-body">
            <form class="example-form">
            <div class="row">
                <div class="col-12">
                    <mat-form-field fill>
                        <mat-label>Item name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Price 1st </mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Price 2nd </mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </div>
                <div class="col-12">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select>
                      <mat-option value="volvo">Volvo</mat-option>
                      <mat-option value="saab">Saab</mat-option>
                      <mat-option value="mercedes">Mercedes</mat-option>
                      <mat-option value="audi">Audi</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12"><div class="mb-3">
                    <label for="formFile" class="form-label">Product image </label>
                    <input class="form-control" type="file" id="formFile">
                  </div></div>
            </div>

            
        </form>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary">Create item</button>
        </div>
    </div>

    <div id="zpopup_addcategory" class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add category</h3>
            <a class="icon"><img (click)="cclass='selecteditem'" src="assets/icons/arrow-left.svg"></a>
        </div>
        <div class="zpopup-body">
            <p>category category category</p>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary">Create category</button>
        </div>
    </div>

</div>