<div class="zpopup">
    <div id="zpopup_addnew" class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add new</h3>
            <a class="icon" mat-dialog-close><img src="assets/icons/close.svg"></a>
        </div>
        <div class="zpopup-body">
            <div class="addbtns">
                <label class="radio-container">
                    <input type="radio" name="radio">
                    <p class="checkmark">
                        <img src="assets/icons/AddCategory.svg">
                        <span>Add category</span>
                    </p>
                </label>
                <label class="radio-container">
                    <input type="radio" name="radio">
                    <p class="checkmark">
                        <img src="assets/icons/AddItem.svg">
                        <span>Add item</span>
                    </p>
                </label>
            </div>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary">Next</button>
        </div>
    </div>

    <div id="zpopup_additem"class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add item</h3>
            <a class="icon"><img src="assets/icons/arrow-left.svg"></a>
        </div>
        <div class="zpopup-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary">Create item</button>
        </div>
    </div>

<div id="zpopup_addcategory"class="zpopup-wrap">
        <div class="zpopup-header">
            <h3 class="zpopup-title">Add category</h3>
            <a class="icon"><img src="assets/icons/arrow-left.svg"></a>
        </div>
        <div class="zpopup-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="zpopup-footer">
            <a mat-dialog-close>Close</a>
            <button mat-flat-button color="primary">Create category</button>
        </div>
    </div>

</div>